<section class="w-5/6 m-auto mt-10 grid grid-cols-1 gap-x-3 gap-y-10 md:grid-cols-3 max-w-6xl items-center mb-20">
  <% @officials.each do |official| %>
    <article class="py-3 px-2">
      <h2><%= link_to official.name, official_path(official), class: "text-xl mb-8" %></h2>
      <p><%= official.party_affiliation %> - <%= official.state %></p>
    </article>
  <% end %>
</section>
