<div>
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Transaction Type</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through stocks -->
      <% @stocks.each do |stock| %>
        <tr>
          <td><%= stock.id %></td>
          <td><%= stock.name %></td>
          <td>
            <!-- Loop through trades associated with the current stock -->
            <% stock.trades.each do |trade| %>
              <%= trade.transaction_type %><br>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
